/*
	Reset
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Correct overflow displayed oddly in IE 9 */
svg:not(:root) {
	overflow: hidden;
}

button,
input[type=submit],
input[type=button],
input[type=reset],
input[type=checkbox],
input[type=radio] {
	cursor: pointer;
}



/*
	theme
*/

input[type=text], button {
	border: 1px solid;
	margin: 0;
	font: inherit;

	-webkit-transition: box-shadow 0.2s ease-out;
	-moz-transition: box-shadow 0.2s ease-out;
	-o-transition: box-shadow 0.2s ease-out;
	transition: box-shadow 0.2s ease-out;
}

button {
	background: white;
}

button:active,
input[type=text]:focus {
	box-shadow:
		inset  0   2px 0 rgba(0, 0, 0, 0.02),
		inset  1px 2px 0 rgba(0, 0, 0, 0.08),
		inset -1px 2px 0 rgba(0, 0, 0, 0.08),
		inset  0   3px 0 rgba(0, 0, 0, 0.06);
}

button:hover,
button:focus,
input[type=text]:hover,
input[type=text]:focus {
	border-color: rgb(0, 175, 219);
	outline: 0;
}

body {
	margin: 0 auto;
	width: 72%;
	max-width: 720px;
	font: 16px sans-serif;
}



/*
	Add task form
*/

.toolbar {
	margin: 1.6em 0;
	overflow: hidden;
}

#new-task-form {
	margin: 0 60px 0 0;
	overflow: hidden;
	position: relative;
}

#new-task-form input {
	outline: 0;
	font: inherit;
}

#new-task-form input {
	float: left;
	width: 100%;
	padding: .6em;
	padding-right: 84px;
}

#new-task-form button {
	position: absolute;
	right: 0;
	height: 100%;
	padding: 0 .7em;
}

button .icon {
	font-size: 2.2em;
	line-height: .98em;
	margin-right: .2em;
	vertical-align: middle;
}

button .icon-text {
	vertical-align: middle;
}



/*
	Task list
*/

#task-list {
	list-style: none;
	padding: 0;
}

#task-list li {
	padding: 6px 0;
}

#task-list .title {
	width: 100%;
	padding-left: 76px;
	padding-right: 1px;
	line-height: 28px;
	vertical-align: middle;
	cursor: text;
}

#task-list .title > div {
	padding: 0 2px;
	word-wrap: break-word;
}

#task-list .title > div,
#task-list-title {
	outline: 2px none rgb(0, 175, 219);
}

#task-list .title > div:hover,
#task-list-title:hover {
	background: rgba(0, 175, 219, .1);
}

#task-list .title > div:focus,
#task-list-title:focus {
	outline-style: solid;
}

.checkbox,
#task-list .icon-trash {
	float: left;
	border: 2px solid;
	width: 28px;
	height: 28px;
	margin: 0;
	padding: 0;
	margin-right: 10px;
	vertical-align: middle;
	cursor: pointer;
}

#task-list .icon-trash:hover,
#task-list .icon-trash:focus {
	border-color: rgb(0, 175, 219);
}



/*
	Facade box (custom checkbox)
*/

.facade-box {
	float: left;
	margin: 0;
	padding: 0;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	position: relative;
	z-index: 1;
	opacity: 0;
}

.facade-box + .facade {
	float: left;
	width: 28px;
	height: 28px;
	border: 2px solid;
	margin-left: -38px;
	vertical-align: middle;
}

.facade-box + .facade:before {
	display: none;
	content: "\2713";
	font-size: 1.3em;
	line-height: 24px;
	text-align: center;
}

.facade-box:checked + .facade:before {
	display: block;
}

.facade-box:active + .facade {
	box-shadow:
		inset  0   2px 0 rgba(0, 0, 0, 0.02),
		inset  1px 2px 0 rgba(0, 0, 0, 0.08),
		inset -1px 2px 0 rgba(0, 0, 0, 0.08),
		inset  0   3px 0 rgba(0, 0, 0, 0.06);
}

.facade-box:hover + .facade,
.facade-box:focus + .facade {
	border-color: rgb(0, 175, 219);
}



/*
	Print icon
*/

.left {
	width: 100%;
	float: left;
}

.right {
	float: right;
	width: 40px;
	margin-left: -2.5em;
}

#print-button {
	display: block;
	float: right;
	width: 2.5em;
	height: 2.5em;
	padding: 0;
}

#print-button svg {
	vertical-align: bottom;
}


/* Printer styles
-------------------------------------------*/

@media print {
	.toolbar, #task-list .icon-trash { display: none; }

	#task-list .title {
		padding-left: 38px;
	}

	#task-list-title, #task-list { display: block; }
}